<p class="h4"><%= @post.title %></p>

<%= simple_format @post.body, class: 'text-muted' %>

<div class="mb-3" id="post-comments">
  <%= render partial: 'posts/comments', locals: { comments: @post.comments } %>
</div>

<p class="h5">Leave a comment</p>
<%= form_for @comment, remote: true do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.text_area :message, placeholder: 'Your comment goes here', class: 'form-control' %>
  <%= f.submit 'Submit Comment', class: 'btn btn-success btn-sm mt-3' %>
<% end %>
